html {
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
}

body, html {
    background: #f5f5f5;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
    margin: 0;
}
.navbar-nav>li>a{font-size:18px !important}
.accountbg {
   
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.wrapper-page {
    margin: 8%;
    width: 420px;
    position: relative;
    float: right;
}
.panel{background-color:#000;border-color:#000;}
.control-label{color:#fff;text-transform: lowercase;}
.panel-body h4{
	font-weight: bold;
    padding-bottom: 20px;color:#fff;
    text-align: center;
    text-transform: uppercase;font-size:20px;
}
.form-control{height:40px;box-shadow:none;border-radius: 0px;text-transform: lowercase;}
.btn{padding:9px 12px;border-radius: 0px;}
.panel-body h6 {
    font-weight: 400;
    color: #7a7a7a;
    font-size: 17px
}
@media (max-width: 767px){
	.wrapper-page {
	    width: 90% !important;float:none !important;margin:auto !important;padding-top:40px;
	}
}
.sign-up {
    color: #63411e;
    font-weight: 400;
    font-size: 14px;
}
.panel-body{padding:30px;}
@media (min-width: 768px){
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 5px;
    text-align: right;
}
}
.navbar-header{padding-top:10px;padding-bottom:10px;}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: 600px;
}
.navbar-logo{display:inline-block;width:10% !important;}
.navbar-nav{padding-top:15px;}
.nav>li>a{text-transform: uppercase;color:#fff !important;}
.carousel-caption h3{font-size:80px;    color: #ddd;}
.carousel-caption{bottom:30%;    right: 20%;
    left: 10%;text-align:left;}